<div class="app-root-container">
  <div [formGroup]="form" class="form">

    <div class="date">
      <span class="label">Дата:</span>
      <mat-form-field appearance="outline">
        <input [matDatepicker]="picker"
               [min]="minDate"
               formControlName="date"
               matInput>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-array">
      <span class="label">Діагнози за ICPC-2</span>
      <div class="diagnoses" formArrayName="diagnoses"
           *ngFor="let item of diagnoses.controls">
        <div [formGroup]="item">
          <mat-form-field appearance="outline">
            <mat-select formControlName="range"
                        placeholder="діагноз">
              <mat-option *ngFor="let range of $ranges | async"
                          [value]="{id: range.id, code: range.code}">
                {{range.code}} {{range.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput
                   formControlName="comment"
                   placeholder="коментар">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="actions">
      <span (click)="addItem()">+ додати ще</span>
      <button (click)="onBuildJSON()"
              [disabled]="form.invalid">
        Cформувати JSON
      </button>
    </div>

    <div>
      <strong>JSON</strong>
      <pre class="json">{{result | json}}</pre>
    </div>

  </div>
</div>

